//Styles for timer

$font-stack: Helvetica, sans-serif;
$time-font-size: 72px;
$lap-font-size: 20px;

$primary-color: #eae7dc;
$bg-color: #e85a4f;
$button-bg-color: #838d8a;
$shadow-color: rgba(0, 0, 0, 0.2);
$item-border-color: rgba(234, 231, 220, 0.5);
$button-border-color: #262626;

$button-height: 40px;
$button-width: 80px;
$button-border-radius: 15px;
$button-font-size: 14px;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

html, body, ul, ol {
  margin:  0;
  padding: 0;
}

body {
	background-color: $bg-color;
	color: $primary-color;
	font: 100% $font-stack;
}

#app {
	padding: 70px 30px 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	@include desktop {
		flex-direction: row;
		padding: 100px 50px 50px;
	}
	
	.time-text {
		display: block;
		margin-bottom: 30px;
		font-size: $time-font-size;
		text-align: center;
	}


	.buttons-wrapper {
		display: flex;
		max-width: 250px;
		margin: 0 auto 40px;
		justify-content: space-around;
	}
}

button {
	width: $button-width;
	height: $button-height;
	border: 2px solid $primary-color;
	border-radius: $button-border-radius;
	box-shadow: 0 0 15px $shadow-color;
	outline: none;
	cursor: pointer;
	color: $primary-color;
	font-size: $button-font-size;
	background-color: rgba(0, 0, 0, 0);
}

.laps-list {
	list-style-type: none;
	padding-top: 30px;
	border-top: 2px solid $primary-color;
	text-align: center;
	height: 350px;
	overflow: auto;

	label {
		display: block;
		margin-bottom: 20px;
	}

	li {
		padding: 10px 0;
		width: 70%;
		margin: 0 auto;
		border-bottom: 1px solid $item-border-color;
		font-size: $lap-font-size;

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}
