//Styles for timer

@import '_variables.scss';
@import '_mixins.scss';


html, body, ul, ol {
	margin:  0;
	padding: 0;
}

body {
	background-color: $bg-color;
	color: $primary-color;
	font: 100% $font-stack;
}

#app {
	padding: 70px 30px 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	@include tablet {
		flex-direction: row;
		align-items: center;
		padding: 100px 50px 50px;
	}
	
	.timer-container {
		margin-bottom: 40px;

		@include tablet {
			margin: 0 40px 0 0;
		}

		.time-text {
			display: block;
			margin-bottom: 30px;
			font-size: $time-font-size;
			text-align: center;

			@include desktop {
				font-size: $time-font-size*1.6;
			}
		}

		.buttons-wrapper {
			display: flex;
			justify-content: space-around;
		}
	}
	
}

button {
	outline: none;
	background: none;
	cursor: pointer;
	width: $button-width;
	height: $button-height;
	border: 2px solid $primary-color;
	border-radius: $button-border-radius;
	box-shadow: 0 6px 8px $shadow-color;
	color: $primary-color;
	font-size: $button-font-size;
	// background-image: linear-gradient(to right, #B94257 0%, #e9807f 51%, $bg-color 100%);
	transition: 0.2s all linear;

	&:hover {
		color: $button-text-color;
		background-color: $button-bg-color;
		box-shadow: 0 2px 2px $shadow-color;
	}

	@include desktop {
		width: $button-width*1.2;
		height: $button-height*1.2;
	}
}

.laps-list {
	list-style-type: none;
	padding-top: 30px;
	border-top: 2px solid $primary-color;
	text-align: center;
	min-width: 300px;
	max-height: 350px;
	overflow: auto;
	
	@include tablet {
		padding: 0 20px;
		border-top: 0;
		border-left: 2px solid $primary-color;
		height: 400px;
	}

	label {
		display: block;
		margin-bottom: 20px;
	}

	li {
		padding: 10px 0;
		width: 70%;
		margin: 0 auto;
		border-bottom: 1px solid $item-border-color;
		font-size: $lap-font-size;

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}
