html, body, ul, ol, h2, h5 {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  height: 100%;
  color: #eeeeee;
  font: 100% Roboto, sans-serif; }

button {
  outline: none;
  background: none;
  cursor: pointer;
  width: 80px;
  height: 35px;
  border: 2px solid #eeeeee;
  border-radius: 25px;
  -webkit-box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.6);
  color: #eeeeee;
  font-size: 10px;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear; }
  button.active, button:active {
    color: #cb2d3e;
    background-color: #eeeeee;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.6); }
  @media (min-width: 1024px) {
    button {
      width: 96px;
      height: 42px; } }

.card {
  padding: 30px 20px;
  background-color: #C12C2A;
  -webkit-box-shadow: 0 12px 10px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 12px 10px -4px rgba(0, 0, 0, 0.6);
  border: 2px solid #c52d2b;
  border-radius: 5px; }

#app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    #app {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 100px 50px 50px; } }
  #app section.timer-container {
    padding: 80px 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#cb2d3e), to(#ef473a));
    background: linear-gradient(to bottom, #cb2d3e 0%, #ef473a 100%);
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    #app section.timer-container .time-text {
      display: block;
      margin-bottom: 30px;
      text-align: center;
      line-height: 40px;
      font-size: 56px;
      font-weight: 300;
      text-shadow: 0px 0px 15px blublack; }
    #app section.timer-container .buttons-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      max-width: 300px;
      margin: 0 auto; }
  #app aside.laps-container {
    max-width: 400px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 15px;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    position: relative;
    z-index: 5;
    -webkit-box-shadow: 0 -2px 5px 2px rgba(51, 51, 51, 0.6);
            box-shadow: 0 -2px 5px 2px rgba(51, 51, 51, 0.6);
    padding: 30px 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#C12C2A), to(#BB3538));
    background: linear-gradient(to bottom, #C12C2A 0%, #BB3538 100%); }
    @media (min-width: 768px) {
      #app aside.laps-container {
        padding-bottom: 20px;
        margin: 0 10px;
        border-top: 0;
        height: 400px; } }
    #app aside.laps-container h5 {
      padding: 0 20px 19px;
      border-bottom: 1px solid white;
      font-size: 14px; }
    #app aside.laps-container .laps-list {
      list-style-type: none;
      overflow: auto; }
      #app aside.laps-container .laps-list li {
        padding: 10px 0;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid rgba(234, 231, 220, 0.1);
        font-size: 16px; }
        #app aside.laps-container .laps-list li:last-child {
          margin-bottom: 0;
          border-bottom: none; }
