<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>A timer with Vue.js</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

	<body>
		<main id="app">
			
			<section class="timer-container">
				<span class="time-text" v-cloak> 
					{{ checkSingleDigit(minutes) }}:{{ checkSingleDigit(seconds) }}:{{ checkSingleDigit(centiseconds) }} 
				</span>

				<div class="buttons-wrapper" v-cloak>
					<button class="start-stop-btn" @click="toggleTimerState" v-bind:class="{ active: running }"> {{ btnLabel }} </button>
					<button class="lap" @click="saveLapTime" v-if="running">LAP</button>
					<button class="reset" @click="resetTimer" v-else>CLEAR</button>
				</div>
			</section>
			
			<aside class="laps-container" v-show="lapSet" v-cloak>
				<h5>Laps recorded</h5>
				<ul class="laps-list">
					<li v-for="lapItem in lapsRecorded"> {{ lapItem }}</li>
				</ul>
			</aside>
		</main>
	</body>
	
	<script type="text/javascript" src="js/app.js"></script>	
		
</html>